hotel.wiznick.net {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
	}

	@management path /actuator/*
	respond @management 404

	reverse_proxy api-gateway:8080 {
		health_uri /actuator/health
		health_interval 10s
		health_timeout 3s
	}
}
